version: "3"
services:
  rest:
    image: tabulario/iceberg-rest:0.10.0
    ports:
      - 8181:8181
    environment:
      - CATALOG_WAREHOUSE=s3://warehouse/
      - CATALOG_IO__IMPL=org.apache.iceberg.aws.s3.S3FileIO
      - CATALOG_S3__ENDPOINT=http://minio:9000
      - CATALOG_S3__ACCESS__KEY__ID=admin
      - CATALOG_S3__SECRET__ACCESS__KEY=password
      - CATALOG_S3__PATH__STYLE__ACCESS=true
      - AWS_REGION=us-east-1
    depends_on:
      - minio

  minio:
    image: minio/minio:latest
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
    command: server /data --console-address ":9001"

  mc:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      until mc alias set minio http://minio:9000 admin password; do echo '...waiting...' && sleep 1; done;
      mc mb minio/warehouse;
      exit 0;
      "
